# Python bytecode
**/__pycache__/
*~
/result
/docs/private
/src/python/typings/
/scratch/
/.direnv/
/src/python/bunkalunk.egg-info/
/src/julia/scratch/
/src/julia/build/
/src/julia/scripts/test_sysimage/Manifest.toml
/.agent-shell/
/opencode.json
*/**/TAGS
/src/julia/test/Manifest.toml
